# IntelliJ
*.idea
*.iml

# Scala
*.class
*.log
scalastyle-output.xml
src/main/resources/commit_history_result/commit-history.txt
src/main/resources/commit_history_result/tmp/test-commit-history.txt

# Build
target/

# OS X
.DS_Store

