<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] %p %m (%c)%n" />
        </Console>
        <File name="FileAppender" fileName="commit-viewer.log" immediateFlush="true" append="true">
            <PatternLayout pattern="[%d] %p %m (%c)%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FileAppender" level="info"/>
        </Root>
    </Loggers>
</Configuration>